@use "@/partials/global-styles/variables" as v;
@use "@/partials/global-styles/mixins" as m;

:global(html) {
  background-color: v.$primary-bg-dark;
  height: auto !important;

  &::-webkit-scrollbar,
  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb {
    display: none;
  }

  &:global(.theme-light) {
    background-color: v.$primary-bg-light;
  }

  &:global(.theme-dark) {
    background-color: v.$primary-bg-dark;
  }
}

:global(body) {
  background-color: v.$primary-bg-dark;

  @include m.lightMode {
    background-color: v.$primary-bg-light;
  }

  &.loaded {
    opacity: 1;
  }
}

.pass {
  background: v.$primary-bg-light;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  overflow: hidden;
  position: relative;
  width: 100%;
  
  *::-webkit-scrollbar {
    background-color: v.$primary-bg-light;
    width: 8px;
  }
   
  *::-webkit-scrollbar-track {
    box-shadow: none;
  }
   
  *::-webkit-scrollbar-thumb {
    background-color: v.$hover-on-hover-light;
    border-radius: 4px;
  }

  @include m.darkMode {
    background-color: v.$primary-bg-dark;
    
    &::-webkit-scrollbar,
    *::-webkit-scrollbar {
      background-color: v.$primary-bg-dark;
    }
     
    &::-webkit-scrollbar-thumb,
    *::-webkit-scrollbar-thumb {
      background-color: v.$hover-on-hover-dark;
    }
  }

  &-screen {
    background-color: v.$primary-bg-light;
    flex-grow: 1;
    display: flex;
    padding-bottom: 40px;
    width: 100%;

    @include m.darkMode {
      background-color: v.$primary-bg-dark;
    }

    > div {
      overflow: auto;
      padding: 11px 4px 43px 12px; // 4px + 8px scrollbar width
      scrollbar-gutter: stable;
      width: 100%;

      > section {
        background-color: v.$primary-box-bg-light;

        @include m.darkMode {
          background-color: v.$primary-box-bg-dark;
        }
  
        &.hidden {
          max-height: 0 !important;
          overflow: hidden !important;
        }
      }
    }
  }
}
